body{
    padding: 0px;
    margin:0px;
}
img{
    display: inline-block;
}
.container{
    background-color: #ccc;
    margin:20px;
    border:1px solid #999;
    float: left;
}
.box{
    background-color: #fff;
    margin:20px;
    border:1px solid #999;
}
.left{
    width: 200px;
    float: left;
    padding: 20px;
}
.left div{
    height: 100%;
    width: 40%;
    float: left;
    display: inline-block;
}
.left .name-box{
    font-size: 24px;
    font-family: Monaco,'Courier New', monospace;
    margin-left:10px;
}
.right img{
    margin:20px 20px 20px;
    display: block;
}
.main{
    margin:20px 160px 20px 280px;
    padding: 20px;
}
.right{
    width: 120px;
    float: right;
}
